.bioCostado {

   
   p {
   
    
    font-size: 1rem;
    text-align:left;
    font-weight: lighter;
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

   
}

