.bioCostado {

    margin-left: 20px;
    padding-bottom: 25px;

 
   p {
   
    justify-content: center; 
    font-size: 1rem;
    text-align: justify;
    font-weight: lighter;
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}
   form {
    background-color: #0cbaba;
background-image: linear-gradient(315deg, #0cbaba 0%, #814b7f 74%);
    border: #15159f;
    color:white;
    
}

   iframe{

display: flex;
justify-content: center;

}

}
form {
    background-color: #0cbaba;
background-image: linear-gradient(315deg, #0cbaba 0%, #4a3249 74%);
    border: #15159f;
    color:white;
    
} 
