.bioCostados{
    
   iframe{

    display: flex;
    text-align:start;
    width: 190px;
    height: 200px;
    padding-right: 90px;
    }
    
    
    form {
        background-color: #0cbaba;
    background-image:url(../fotosproyecto/fondo\ gym.webp);
        border: #15159f;
        color:white;
        margin: 25px;
        padding: 25px;
    
    } }

    @media screen and (max-width: 768px)  {
        .bioCostados{
    
            iframe{
         
             display: flex;
             text-align:start;
             width: 45%;
             height: 45%;
             padding-right: 90px;
             }
             
             
             form {
                 
             background-image:url(../fotosproyecto/fondo\ gym.webp);
                 border: #15159f;
                 color:white;
                 margin: 25px;
                 padding: 25px;
             
             } }
        
    }
    .animacion {
        overflow: hidden;
    }
     
    h2 {
        .texto-animado {
            animation-name: texto;
            animation-duration: 4s;
            animation-iteration-count: infinite;
        
      
    }
    
    @keyframes texto {
        from /*inicio*/ {
            transform: translateX(150px);
        }
        to /* fin */ {
            transform: translate(0);
    
        }
    }
    }
    