.bioCostados{
    overflow: hidden;

   iframe{

    display: flex;
    text-align:start;
    width: 430px;
    height: 480px;
    padding-right: 90px;
    padding-bottom: 25px;
    }
    
    }
 
    form {
        
        background-image:url(../fotosproyecto/fondo\ gym.webp);
        padding-top: 25px;
        width: 350px;
        height: 455px;
    
    }
    