.bioCostados{
    
   iframe{

    display: flex;
    text-align:start;
    width: 390px;
    height: 480px;
    padding-right: 90px;
    }
    
    
    form {
        
        background-color: #0cbaba;
        background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
        margin: 35px;
        padding-top: 25px;
        width: 390px;
        height: 480px;
    
    } }

    