
.gridContainer {
    height: 20px;
    display: grid;
    grid-template-columns: 320px 320px 320px 320px;
    grid-template-rows: 20px;
    grid-column-gap: 40px;
    border-radius: 20px;
   
}
.gridItem {
    background-color: pink;
    border-radius: 2px rgb(4, 3, 3);
    color: black;
    border-radius: 15px;
    text-align: center;
    

}
