
//mixin

@mixin sobreMi {
    display: flex;
  
    padding-bottom: 35px;

        display: flex;
        justify-content: center;
       
        font-size: 1.5rem;
        text-align: justify;
       
        font-weight: lighter;

}
p {
    @include sobreMi
}
