
//mixin

@mixin sobreMi {
  
    padding-bottom: 35px;
        font-size: 1rem;
        text-align: justify;
        font-weight: lighter;

}

p {

    @include sobreMi;
    
    display: flex;
    
    justify-content: center;
    
    }