 
h2 {
    .texto-animado {
        animation-name: texto;
        animation-duration: 4s;
        animation-iteration-count: infinite;
        overflow: hidden;
  
}

@keyframes texto {
    from /*inicio*/ {
        transform: translateX(150px);
    }
    to /* fin */ {
        transform: translate(0);

    }
}
}