.animacion {
    overflow: hidden;
}
 
h2 {
    .texto-animado {
        animation-name: texto;
        animation-duration: 4s;
        animation-iteration-count: infinite;
    
  
}

@keyframes texto {
    from /*inicio*/ {
        transform: translateX(180px);
    }
    to /* fin */ {
        transform: translate(0);

    }
}
}
