.planTres {
    p {
    margin: 0%;
    display: flex;
    justify-content: center;
    text-align: center;
    font-weight: lighter;
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    }
}